
<section class="main-header">
    <img src="<%= asset_path "achieve.png" %>">
  </section>



<p class="flash"><%= notice %><%= alert %></p>
<div class="col-md-6 col-sm-6">

<section class="about">
  <h1>About This Application</h1>

  <p>
    <% @ranks.each do |photo| %>

            <div class="row">
              <div class="post_t">

                <div class="pull-left">
                   <div class="user_info"><%= profile_img(photo.user) %></div>
                   <p><%= photo.user.name %></p>

                </div>
                <%= link_to up_path(photo.id) do %>
               <h4><div class="pull-left"><p><%= photo.title %></p></div></h4>
             <% end %>


        <br>
        <div class="pull-left"><p><%= photo.content %></p></div>

              <p class="post-image"><%= image_tag(photo.photo) %></p>
              <br>

              <br>


                  　<span class="fa fa-heart like-btn-unlike"></span>

               <%= Like.where(up_id: Up.find_by(id: photo.id)).count %>

             </div>
             </div>
             <br>


      <% end %>


  </p>
</section>
</div>
<div class="col-md-6 col-sm-6">
<section class="function">
 <div class="pull-left">
 <img src="<%= asset_path "topimage.jpg" %>" class="home-image" >
 </div>
</section>
</div>
