


<%= form_for(@up)  do |f| %>
<%#<%= form_for(@up) do |f| %>
　  <% if @up.errors.any? %>
    <div id="error_explanation">

      <h2><%= @up.errors.count %>件のエラーがあります。</h2>

      <ul>
     <% @up.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <%= f.label :content %>
  <%= f.text_field :content, class: 'form-control' %>

  <p class="post-image"><%= image_tag(@up.photo) %></p>
  <%= f.label :写真 %>
  <%= f.file_field :photo %>
  <%= f.hidden_field :photo_cache %>
  <br>
  <%= f.submit '投稿', class: 'btn btn-primary btn-block' %>
<% end %>
